<a href="https://colab.research.google.com/github/ByAnAlex/Scientific-Computer/blob/main/2802428665_Bryan_Alexander.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sesi 1

In [6]:
import time
print ("Waktu sekarang adalah :",time.ctime())

Waktu sekarang adalah : Thu Feb  6 02:41:24 2025

In [9]:
 x = 1
 print ("Angka adalah : ", x)

Angka adalah :  1

In [17]:
x = x + 1
print ("angka adalah :", x)

angka adalah : 3

In [13]:
x = 1
y = 1
print ("Angka adalah : ", x+y)

Angka adalah :  2

In [15]:
x = 1
y = x +1
x = 2
print ("Angka adalah : ", y)

Angka adalah :  2

In [18]:
import numpy as tes

In [19]:
import numpy as np

x = np.array([1,2,3])
print ("Array:", x)

Array: [1 2 3]

In [27]:
import numpy as np

y = np.array([[1,2,3], [4,5,6]])
print ("Array:",y)

Array: [[1 2 3]
 [4 5 6]]

In [42]:
def add(a,b,c):

  """
  function to sum 3 number
  input 3 number a,b,c
  output : the sum of 3 number
  author:
  date:
  """
  #this is the summation
  out = a + b + c
  return out


num = add(1,2,3)
print(num)

6

In [36]:
def add(a,b,c):
  """
  function to sum 3 number
  input 3 number a,b,c
  output : the sum of 3 number
  author:
  date:
  """
  out = a + b + c
  return out

#Inputan Pengguna
a = int(input("Masukkan angka satu: "))
b = int(input("Masukkan angka dua: "))
c = int(input("Masukkan angka tiga: "))

#Hasil output
hasil = add(a,b,c)
print ("Hasil penjumlahan adalah :", hasil)

Masukkan angka satu: 2
Masukkan angka dua: 2
Masukkan angka tiga: 3
Hasil penjumlahan adalah : 7

In [45]:
def my_thermo_stat(temp, desired_temp):

  if temp < desired_temp - 5:
    status = "Heat"

  elif temp > desired_temp + 5:
    status = "AC"

  else :
    status = "OFF"

  return status

In [47]:
status = my_thermo_stat(60,70)
print(status)

Heat

In [54]:
status1 = int(input("Masukkan angka 1 :"))
status2 = int(input("Masukkan angka 2 :"))

status = my_thermo_stat(status1 , status2)
print("Status adalah ", status)

Masukkan angka 1 :1
Masukkan angka 2 :0
Status adalah  OFF

In [58]:
x = 3

if x > 1 and x < 2 :
  y = 2

elif x > 2 and x < 4 :
  y = 4

else :
  y = 0

print(y)

4

In [60]:
x = int(input("Masukkan angka :"))

if x > 1 and x < 2 :
  y = 2

elif x > 2 and x < 4 :
  y = 4

else :
  y = 0

print(y)

Masukkan angka :2
0

In [56]:
x = 3

if 1 < x < 2 :
  y = 2

elif 2 < x < 4 :
  y = 4

else :
  y = 0

print(y)

4

In [62]:
x = int(input("Masukkan angka :"))

if 1 < x < 2 :
  y = 2

elif 2 < x < 4 :
  y = 4

else :
  y = 0

print(y)

Masukkan angka :3
4

**LATIHAN SOAL**

In [76]:
username = "Bryan Alexander"
Password = "Bn123"

while True :
  User_name = input("Masukkan Username Anda : ")
  PASS = input("Masukkan Password Anda : ")
  if (User_name == "Bryan Alexander" and PASS == "Bn123"):
    break
  print("Incorrect Password")
print("Log in berhasil, selamat datang Bryan")

def hitung(uas, uts, ass):
    nilai_akhir = 0.5 * uas + 0.3 * uts + 0.2 * ass
    return nilai_akhir


nama = input("Masukkan nama siswa: ")
uas = int(input("Masukkan nilai UAS: "))
uts = int(input("Masukkan nilai UTS: "))
ass = int(input("Masukkan nilai Assignment: "))


nilai = hitung(uas, uts, ass)

print("=======================================")
print("Hasil perolehan nilai ",nama)
print("Final score ", nilai)

if 90 <= nilai <= 100:
  print("Grade A")
elif 85 <= nilai <= 89:
  print("Grade A-")
elif 80 <= nilai <= 84:
  print("Grade B+")
elif 75 <= nilai <= 79:
  print("Grade B")
elif 70 <= nilai <= 74:
  print("Grade B-")
elif 65 <= nilai <= 69:
  print("Grade C")
elif 50 <= nilai <= 64:
  print("Grade D")
elif 0 <= nilai <= 49:
  print("Grade E")
else :
  print("Grade F")

Masukkan Username Anda : Bryan Alexander
Masukkan Password Anda : Bn123
Log in berhasil, selamat datang Bryan
Masukkan nama siswa: Bryan
Masukkan nilai UAS: 90
Masukkan nilai UTS: 90
Masukkan nilai Assignment: 90
=======================================
Hasil perolehan nilai  Bryan
Final score  90.0
Grade A